## Start by processing the ratingraph data

In [1]:
import pandas as pd

In [2]:
#to load the data back in use
tv_show_df = pd.read_pickle('original_tv_show_df.pkl')
tv_show_df.head()

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Season_1_Rating,Links
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,Season 1 (9.6),https://www.ratingraph.com/tv-shows/chernobyl-...
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,Season 1 (9.1),https://www.ratingraph.com/tv-shows/game-of-th...
2,Black Mirror,2011,-,"[Drama, Sci-fi, Thriller]",5,22,Season 1 (8.1),https://www.ratingraph.com/tv-shows/black-mirr...
3,Sherlock,2010,2017,"[Drama, Crime, Mystery]",4,12,Season 1 (8.8),https://www.ratingraph.com/tv-shows/sherlock-r...
4,Breaking Bad,2008,2013,"[Drama, Crime, Thriller]",5,62,Season 1 (8.8),https://www.ratingraph.com/tv-shows/breaking-b...

In [3]:
#make a copy in case I mess up
original_tv_show_df = pd.read_pickle('original_tv_show_df.pkl')

In [4]:
original_tv_show_df.head()

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Season_1_Rating,Links
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,Season 1 (9.6),https://www.ratingraph.com/tv-shows/chernobyl-...
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,Season 1 (9.1),https://www.ratingraph.com/tv-shows/game-of-th...
2,Black Mirror,2011,-,"[Drama, Sci-fi, Thriller]",5,22,Season 1 (8.1),https://www.ratingraph.com/tv-shows/black-mirr...
3,Sherlock,2010,2017,"[Drama, Crime, Mystery]",4,12,Season 1 (8.8),https://www.ratingraph.com/tv-shows/sherlock-r...
4,Breaking Bad,2008,2013,"[Drama, Crime, Thriller]",5,62,Season 1 (8.8),https://www.ratingraph.com/tv-shows/breaking-b...

In [5]:
tv_show_df.describe()

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Season_1_Rating,Links
count,1000,1000,1000,1000,1000,1000,1000,1000
unique,990,26,27,187,20,171,40,1000
top,The Office,2019,-,"[Drama, Crime, Mystery]",1,10,Season 1 (8.1),https://www.ratingraph.com/tv-shows/mildred-pi...
freq,2,122,349,93,407,95,104,1

Check what data types every column has

In [6]:
type(tv_show_df['Num_of_Seasons'][1])

str

In [7]:
type(tv_show_df['Start_Year'][1])

str

### Change the column types into ints if possible

In [8]:
tv_show_df['Start_Year'] = tv_show_df['Start_Year'].astype(int)
type(tv_show_df['Start_Year'][1])

numpy.int64

In [9]:
tv_show_df['Num_of_Seasons'] = tv_show_df['Num_of_Seasons'].astype(int)
type(tv_show_df['Num_of_Seasons'][1])

numpy.int64

In [10]:
tv_show_df['Num_of_Episodes'] = tv_show_df['Num_of_Episodes'].astype(int)
type(tv_show_df['Num_of_Episodes'][1])

numpy.int64

In [11]:
#there are dashes for shows that haven't ended, so let's make those values 0
tv_show_df['End_Year'] = tv_show_df['End_Year'].str.replace('-','0')

In [12]:
#and now make those values ints
tv_show_df['End_Year'] = tv_show_df['End_Year'].astype(int)
type(tv_show_df['End_Year'][1])

numpy.int64

In [13]:
tv_show_df.head(3)

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Season_1_Rating,Links
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,Season 1 (9.6),https://www.ratingraph.com/tv-shows/chernobyl-...
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,Season 1 (9.1),https://www.ratingraph.com/tv-shows/game-of-th...
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,Season 1 (8.1),https://www.ratingraph.com/tv-shows/black-mirr...

### Now get rid of "season 1" before the rating, and the parentheses around the rating

In [14]:
#remove 'Season 1'
tv_show_df['Season_1_Rating'] = tv_show_df['Season_1_Rating'].str.replace('Season 1','')

In [15]:
#get rid of the parentheses
tv_show_df['Season_1_Rating'] = tv_show_df['Season_1_Rating'].str.replace("(",'')
tv_show_df['Season_1_Rating'] = tv_show_df['Season_1_Rating'].str.replace(")",'')

In [16]:
#cast into float type
tv_show_df['Season_1_Rating'] = tv_show_df['Season_1_Rating'].astype(float)

In [17]:
type(tv_show_df['Season_1_Rating'][1])

numpy.float64

In [18]:
tv_show_df.head(3)

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Season_1_Rating,Links
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,9.6,https://www.ratingraph.com/tv-shows/chernobyl-...
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.1,https://www.ratingraph.com/tv-shows/game-of-th...
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,8.1,https://www.ratingraph.com/tv-shows/black-mirr...

### Want the average number of episodes per season

In [19]:
#divide number of episodes by number of seasons
tv_show_df['Num_Episodes_Per_Season'] = tv_show_df.apply(lambda row: row.Num_of_Episodes / row.Num_of_Seasons, axis=1)

#round it off to 2 decimal places
tv_show_df['Num_Episodes_Per_Season'] = tv_show_df['Num_Episodes_Per_Season'].round(2)

tv_show_df.head()

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Season_1_Rating,Links,Num_Episodes_Per_Season
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,9.6,https://www.ratingraph.com/tv-shows/chernobyl-...,5.00
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.1,https://www.ratingraph.com/tv-shows/game-of-th...,9.12
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,8.1,https://www.ratingraph.com/tv-shows/black-mirr...,4.40
3,Sherlock,2010,2017,"[Drama, Crime, Mystery]",4,12,8.8,https://www.ratingraph.com/tv-shows/sherlock-r...,3.00
4,Breaking Bad,2008,2013,"[Drama, Crime, Thriller]",5,62,8.8,https://www.ratingraph.com/tv-shows/breaking-b...,12.40

In [20]:
#don't need to keep the links here
tv_show_df = tv_show_df[['Title', 'Start_Year', 'End_Year', 'Genres', 'Num_of_Seasons', 'Num_of_Episodes', 'Num_Episodes_Per_Season', 'Season_1_Rating']]
tv_show_df.head(3)

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,5.00,9.6
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.12,9.1
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,4.40,8.1

## How many years did the show run for?

In [21]:
def years_run(row):
    count = row['End_Year'] - row['Start_Year']
    
    if count < 0:
        count = 2020 - row['Start_Year']
    
    if count == 0:
        count = 1

    return count

tv_show_df['Years_Ran'] = tv_show_df.apply(years_run, axis=1)

In [22]:
tv_show_df.head()

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,5.00,9.6,1
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.12,9.1,8
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,4.40,8.1,9
3,Sherlock,2010,2017,"[Drama, Crime, Mystery]",4,12,3.00,8.8,7
4,Breaking Bad,2008,2013,"[Drama, Crime, Thriller]",5,62,12.40,8.8,5

In [24]:
#pickle our data
tv_show_df.to_pickle('clean_tv_show_df.pkl')

In [23]:
tv_show_df.describe()

,Start_Year,End_Year,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2013.604000,1311.64500,3.036000,40.877000,11.716910,8.057400,3.290000
std,5.835858,960.85876,2.933481,55.961483,10.594048,0.532493,3.429528
min,1995.000000,0.00000,1.000000,2.000000,1.000000,5.400000,1.000000
25%,2011.000000,0.00000,1.000000,10.000000,8.000000,7.800000,1.000000
50%,2015.000000,2012.00000,2.000000,20.000000,10.000000,8.100000,2.000000
75%,2018.000000,2017.00000,4.000000,46.250000,13.000000,8.400000,4.000000
max,2020.000000,2021.00000,28.000000,478.000000,220.000000,9.600000,23.000000

### Check why we have some really large values for number of episodes per season

In [24]:

tv_show_df.nlargest(10, 'Num_Episodes_Per_Season')

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran
969,Naruto,2002,2007,"[Animation, Action, Adventure]",1,220,220.00,7.4,5
658,Hunter x Hunter,2011,2014,"[Animation, Action, Adventure]",1,148,148.00,8.2,3
822,Dragon Ball Super,2015,2018,"[Animation, Action, Adventure]",1,131,131.00,7.7,3
327,Fullmetal Alchemist: Brotherhood,2009,2012,"[Animation, Action, Adventure]",1,64,64.00,8.3,3
703,Fullmetal Alchemist,2003,2004,"[Animation, Action, Adventure]",1,51,51.00,8.1,1
112,Death Note,2006,2007,"[Animation, Drama, Crime]",1,37,37.00,8.1,1
993,Leyla and Mecnun,2011,2014,"[Comedy, Drama, Adventure]",3,104,34.67,8.7,3
487,Steven Universe,2013,2020,"[Animation, Comedy, Adventure]",6,174,29.00,7.8,7
838,Last Week Tonight with John Oliver,2014,0,"[Comedy, News, Talk-show]",7,203,29.00,8.1,6
573,Adventure Time,2010,2018,"[Animation, Action, Adventure]",10,279,27.90,7.6,8

- Naruto actually has 5 seasons in that time frame
- Hunter x Hunter actually has 6 seasons in that time frame
- Dragon Ball Super does not have seasons so i will define it as 3 seasons for the number of years
- FullMetal Alchemist: Brotherhood actually has 2 seasons (kinda iffy but for our purposes this is fine)
- FullMetal Alchemist actually has 2 seasons in that time frame (kinda iffy but for our purposes this is fine)

## let's fix this here

    df.loc[row_indexer,col_indexer] = value instead

In [25]:
#Fix Naruto
tv_show_df.loc[969,'Num_of_Seasons'] = 5

In [26]:
tv_show_df.loc[969]

Title                                              Naruto
Start_Year                                           2002
End_Year                                             2007
Genres                     [Animation, Action, Adventure]
Num_of_Seasons                                          5
Num_of_Episodes                                       220
Num_Episodes_Per_Season                               220
Season_1_Rating                                       7.4
Years_Ran                                               5
Name: 969, dtype: object

In [27]:
#Fix Hunter x Hunter
tv_show_df.loc[658,'Num_of_Seasons'] = 6
tv_show_df.loc[658]

Title                                     Hunter x Hunter
Start_Year                                           2011
End_Year                                             2014
Genres                     [Animation, Action, Adventure]
Num_of_Seasons                                          6
Num_of_Episodes                                       148
Num_Episodes_Per_Season                               148
Season_1_Rating                                       8.2
Years_Ran                                               3
Name: 658, dtype: object

In [28]:
#Fix Dragon Ball Super
tv_show_df.loc[822,'Num_of_Seasons'] = 3
tv_show_df.loc[822]

Title                                   Dragon Ball Super
Start_Year                                           2015
End_Year                                             2018
Genres                     [Animation, Action, Adventure]
Num_of_Seasons                                          3
Num_of_Episodes                                       131
Num_Episodes_Per_Season                               131
Season_1_Rating                                       7.7
Years_Ran                                               3
Name: 822, dtype: object

In [29]:
#Fix FullMetal Alchemist Brotherhood
tv_show_df.loc[327,'Num_of_Seasons'] = 2
tv_show_df.loc[327]

Title                      Fullmetal Alchemist: Brotherhood
Start_Year                                             2009
End_Year                                               2012
Genres                       [Animation, Action, Adventure]
Num_of_Seasons                                            2
Num_of_Episodes                                          64
Num_Episodes_Per_Season                                  64
Season_1_Rating                                         8.3
Years_Ran                                                 3
Name: 327, dtype: object

In [30]:
#Fix FullMetal Alchemist
tv_show_df.loc[703,'Num_of_Seasons'] = 2
tv_show_df.loc[703]

Title                                 Fullmetal Alchemist
Start_Year                                           2003
End_Year                                             2004
Genres                     [Animation, Action, Adventure]
Num_of_Seasons                                          2
Num_of_Episodes                                        51
Num_Episodes_Per_Season                                51
Season_1_Rating                                       8.1
Years_Ran                                               1
Name: 703, dtype: object

### Now fix the avg num of episodes per season for our outliers

In [31]:
#define a function that gets the avg num of episodes per season for a specific row

def avg_num_eps(row_index):
    #divide number of episodes by number of seasons
    tv_show_df.loc[row_index,'Num_Episodes_Per_Season'] = tv_show_df.loc[row_index]['Num_of_Episodes'] / tv_show_df.loc[row_index]['Num_of_Seasons']

    #round it off to 2 decimal places
    tv_show_df.loc[row_index,'Num_Episodes_Per_Season'] = tv_show_df.loc[row_index,'Num_Episodes_Per_Season'].round(2)

    tv_show_df.loc[row_index]

In [32]:
#Naruto
avg_num_eps(969)

#Hunter x Hunter
avg_num_eps(658)

#Dragon Ball Super
avg_num_eps(822)

#FullMetal Alchemist Brotherhood
avg_num_eps(327)

#FullMetal Alchemist
avg_num_eps(703)

In [33]:
#check what we got now! They're still pretty big but not too bad
tv_show_df.nlargest(10, 'Num_Episodes_Per_Season')

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran
969,Naruto,2002,2007,"[Animation, Action, Adventure]",5,220,44.00,7.4,5
822,Dragon Ball Super,2015,2018,"[Animation, Action, Adventure]",3,131,43.67,7.7,3
112,Death Note,2006,2007,"[Animation, Drama, Crime]",1,37,37.00,8.1,1
993,Leyla and Mecnun,2011,2014,"[Comedy, Drama, Adventure]",3,104,34.67,8.7,3
327,Fullmetal Alchemist: Brotherhood,2009,2012,"[Animation, Action, Adventure]",2,64,32.00,8.3,3
487,Steven Universe,2013,2020,"[Animation, Comedy, Adventure]",6,174,29.00,7.8,7
838,Last Week Tonight with John Oliver,2014,0,"[Comedy, News, Talk-show]",7,203,29.00,8.1,6
573,Adventure Time,2010,2018,"[Animation, Action, Adventure]",10,279,27.90,7.6,8
710,Poyraz Karayel,2015,2017,"[Action, Drama]",3,82,27.33,9.0,2
200,Cowboy Bebop,1998,1999,"[Animation, Action, Adventure]",1,26,26.00,8.2,1

In [63]:
#pickle our data
tv_show_df.to_pickle('cleaned_outliers_tv_show_df.pkl')

### Fix the genres since they are a list of a single string

In [41]:
#grab each string list
list_of_genres2 = [genre[0] for genre in tv_show_df['Genres']]

In [42]:
list_of_genres2[:10]

['Drama, History, Thriller',
 'Action, Drama, Adventure',
 'Drama, Sci-fi, Thriller',
 'Drama, Crime, Mystery',
 'Drama, Crime, Thriller',
 'Action, Adventure, Sci-fi',
 'Drama, Fantasy, Horror',
 'Action, Drama, Fantasy, Adventure',
 'Drama, Mystery, Sci-fi',
 'Drama, Crime, Mystery']

In [43]:
#strip the whitespace now
list_of_genres2 = [x.replace(' ','') for x in list_of_genres2]

In [44]:
list_of_genres2[:]

['Drama,History,Thriller',
 'Action,Drama,Adventure',
 'Drama,Sci-fi,Thriller',
 'Drama,Crime,Mystery',
 'Drama,Crime,Thriller',
 'Action,Adventure,Sci-fi',
 'Drama,Fantasy,Horror',
 'Action,Drama,Fantasy,Adventure',
 'Drama,Mystery,Sci-fi',
 'Drama,Crime,Mystery',
 'Drama,Crime,Mystery',
 'Animation,Comedy,Adventure',
 'Drama,Horror,Thriller',
 'Animation,Comedy,Fantasy',
 'Drama,Crime,Thriller',
 'Drama,Crime',
 'Action,Drama,Crime',
 'Drama,Horror,Mystery',
 'Action,Drama,Mystery',
 'Action,Drama,History',
 'Drama,Crime,Thriller',
 'Drama,Crime',
 'Comedy,Action,Crime',
 'Animation,Action,Adventure',
 'Drama,Biography,Crime',
 'Drama,Horror,Crime',
 'Action,Drama,Crime,Adventure',
 'Action,Crime,Mystery',
 'Drama,Fantasy,Adventure',
 'Drama,Fantasy,Mystery',
 'Drama,Family,Adventure',
 'Drama,Crime,Thriller',
 'Drama,Adventure,Sci-fi',
 'Drama,Biography,Crime',
 'Drama,Fantasy,Crime',
 'Drama,Crime,Mystery',
 'Drama,Fantasy,Crime',
 'Drama,Mystery,Thriller',
 'Drama,Mystery,Sci-fi',
 'Drama,Crime,Mystery',
 'Drama,Crime,Mystery',
 'Action,Biography,Adventure',
 'Drama',
 'Action,Drama,Adventure',
 'Drama,Crime,Thriller',
 'Action,Drama,Crime',
 'Action,Crime,Adventure',
 'Drama,Horror',
 'Action,Crime,Adventure',
 'Drama,Crime,Thriller',
 'Action,Drama,Adventure',
 'Drama,Crime',
 'Documentary',
 'Drama,Sci-fi,Thriller',
 'Drama,Mystery,Sci-fi',
 'Drama,Fantasy,Horror',
 'Drama,Crime,Thriller',
 'Action,Drama,Crime',
 'Comedy,Action,Adventure',
 'Documentary,Biography,History',
 'Action,Biography,Adventure',
 'Comedy,Drama',
 'Comedy',
 'Drama,Horror,Thriller',
 'Comedy,Romance',
 'Animation,Comedy,Drama',
 'Documentary',
 'Drama,History',
 'Action,Drama,Adventure',
 'Drama,Fantasy,Crime,Mystery',
 'Comedy',
 'Comedy,Drama',
 'Animation,Action,Adventure',
 'Action,Drama,Adventure',
 'Drama',
 'Romance,Drama,Fantasy',
 'Drama,Crime,Mystery',
 'Drama,Family,Adventure',
 'Comedy,Crime,Adventure',
 'Action,Drama,Crime',
 'Action,Drama,Sci-fi',
 'Drama,Mystery,Sci-fi',
 'Drama,Biography,Crime',
 'Comedy,Drama,Adventure',
 'Romance,Drama,Crime',
 'Action,Drama,Fantasy',
 'Action,Drama,Sci-fi',
 'Drama,Mystery,Sci-fi',
 'Action,Drama,Crime',
 'Action,Drama,Adventure',
 'Action,Drama,Sci-fi',
 'Comedy,Fantasy',
 'Comedy,Action,Crime',
 'Drama,Crime,Mystery',
 'Drama,Fantasy,Mystery',
 'Action,Crime,Adventure',
 'Drama,Mystery',
 'Drama,Mystery',
 'Drama',
 'Action,Drama,Adventure',
 'Drama,Fantasy,Horror',
 'Comedy,Romance',
 'Animation,Comedy,Action',
 'Action,Drama,Fantasy',
 'Action,Drama,Thriller',
 'Drama,Crime,Mystery',
 'Comedy,Drama,Music',
 'Documentary',
 'Drama,Crime,Thriller',
 'Drama',
 'Comedy',
 'Action,Drama,History',
 'Animation,Drama,Crime',
 'Comedy,Action,Drama',
 'Action,Drama,Crime',
 'Drama,Crime,Mystery',
 'Animation,Comedy',
 'Comedy,Action,Fantasy',
 'Comedy,Drama,Fantasy',
 'Action,Crime,Adventure',
 'Action,Adventure,Sci-fi',
 'Drama,Horror,Sci-fi',
 'Comedy,Drama',
 'Comedy,Crime',
 'Comedy,Drama',
 'Sci-fi',
 'Drama,Crime',
 'Comedy,Drama',
 'Comedy,Drama,Sci-fi',
 'Comedy,Romance',
 'Horror',
 'Drama,Fantasy,Mystery',
 'Drama,Mystery,Sci-fi',
 'Comedy,Romance,Drama',
 'Action,Drama,Crime',
 'Animation,Action,Adventure',
 'Drama,Adventure',
 'Comedy',
 'Animation,Comedy,Action,Adventure',
 'Drama,Horror,Mystery',
 'Comedy,Drama,Crime',
 'Action,Drama,Crime',
 'Action,Drama,History',
 'Drama',
 'Drama,Crime,History',
 'Comedy',
 'Comedy,Drama,Adventure',
 'Comedy,Drama',
 'Comedy,Talk-show',
 'Comedy,Drama',
 'Drama,Fantasy,Sci-fi',
 'Action,Drama,Adventure',
 'Drama',
 'Drama,Family,Adventure',
 'Comedy,Action,Adventure',
 'Comedy',
 'Drama,Western',
 'Action,Drama,Adventure',
 'Drama',
 'Action,Drama,Crime',
 'Comedy,Drama',
 'Drama,Fantasy,Horror',
 'Action,Drama,Fantasy',
 'Drama,Crime',
 'Comedy,Drama',
 'Drama,Fantasy,Horror',
 'Drama,Crime,Mystery',
 'Action,Drama,Adventure',
 'Animation,Action,Adventure',
 'Drama,Fantasy,Crime',
 'Documentary',
 'Drama,Sci-fi,Thriller',
 'Drama,Fantasy,Horror',
 'Drama,Crime,Mystery,Thriller',
 'Drama,Fantasy,Horror',
 'Comedy',
 'Drama,Crime,Mystery',
 'Documentary,Crime',
 'Documentary',
 'Comedy,Drama',
 'Drama,Crime,Mystery',
 'Action,Drama,Adventure',
 'Action,Drama,Adventure',
 'Comedy,Drama',
 'Romance,Drama,Fantasy',
 'Drama,Crime,Mystery',
 'Drama,Crime,History',
 'Drama,Fantasy,Adventure',
 'Romance,Drama',
 'Drama,Fantasy,Horror',
 'Action,Drama,Adventure',
 'Comedy,Fantasy,Horror',
 'Romance,Fantasy,Adventure',
 'Drama',
 'Action,Drama,Sci-fi',
 'Drama',
 'Drama,Crime,Mystery',
 'Drama,Fantasy,Crime',
 'Drama,Crime,Mystery',
 'Drama,Crime,Mystery',
 'Animation,Action,Adventure',
 'Comedy',
 'Animation,Comedy,Sci-fi',
 'Drama,Fantasy,Mystery',
 'Comedy',
 'Animation,Comedy',
 'Action,Drama,Horror',
 'Drama,Crime,Thriller',
 'Action,Drama,Fantasy',
 'Comedy,Action,Drama',
 'Drama,Mystery,Sci-fi',
 'Comedy,Drama,Adventure',
 'Comedy,Drama,Music',
 'Comedy,Romance,Drama',
 'Drama,Fantasy,Sci-fi',
 'Drama,Sci-fi',
 'Drama,Biography',
 'Drama',
 'Animation,Drama,Adventure',
 'Drama,Fantasy,Horror',
 'Comedy',
 'Comedy,Drama,Horror',
 'Comedy,Drama',
 'Drama',
 'Drama,Adventure,History',
 'Action,Adventure,Sci-fi',
 'Drama,Fantasy,Horror',
 'Action,Drama,Crime',
 'Action,Drama,Crime',
 'Drama',
 'Drama,Mystery,Sci-fi,Thriller',
 'Documentary,Crime',
 'Comedy,Drama,Crime',
 'Drama,Crime,Mystery',
 'Drama,Thriller',
 'Documentary,Crime,Mystery',
 'Drama,Family,Adventure',
 'Comedy,Drama',
 'Drama,Mystery,Sci-fi',
 'Action,Drama,Adventure',
 'Action,Drama,Adventure',
 'Drama,History',
 'Drama,Crime,Mystery',
 'Comedy,Drama',
 'Comedy,Horror,Mystery',
 'Animation,Action,Adventure',
 'Drama,History',
 'Drama,Sci-fi',
 'Drama,Horror,Thriller',
 'Drama,Crime,Mystery',
 'Drama,Adventure,Mystery',
 'Comedy,Horror',
 'Comedy,Mystery,Sci-fi',
 'Comedy,Drama,Crime',
 'Animation,Action,Adventure',
 'Drama,Horror,Mystery',
 'Drama,Mystery,Thriller',
 'Comedy,Action,Drama',
 'Comedy,Action,Adventure',
 'Drama,Crime,Thriller',
 'Comedy,Sport,Drama',
 'Animation,Comedy,Action',
 'Documentary',
 'Drama,Crime,Mystery,Thriller',
 'Drama,Crime,Mystery',
 'Drama,Crime',
 'Drama,Crime,Mystery',
 'Drama,Crime,Mystery',
 'Romance,Drama,Adventure',
 'Drama,Fantasy,Crime',
 'Romance,Drama',
 'Comedy,Drama,Family,Adventure',
 'Animation,Comedy',
 'Comedy,Drama',
 'Animation,Action,Fantasy',
 'Drama',
 'Comedy,Sport,Drama',
 'Comedy,Sci-fi,Musical',
 'Action,Drama,Mystery',
 'Romance,Drama',
 'Drama,Fantasy,Horror',
 'Drama,Crime,Mystery',
 'Drama,History',
 'Drama,Biography,Adventure',
 'Action,Crime,Adventure',
 'Action,Drama,Fantasy',
 'Animation,Action,Adventure',
 'Comedy,Drama',
 'Comedy,Drama',
 'Drama,Crime,Thriller',
 'Action,Drama,Sci-fi',
 'Comedy,Drama',
 'Fantasy,Adventure,Sci-fi',
 'Animation,Action,Adventure',
 'Action,Drama,Fantasy',
 'Comedy',
 'Animation,Comedy,Adventure',
 'Drama,Crime,Mystery',
 'Drama,Mystery,Sci-fi',
 'Drama,Crime,Thriller',
 'Romance,Drama',
 'Drama,Horror,Thriller',
 'Drama,Horror,Crime',
 'Drama,Crime',
 'Documentary,Crime',
 'Action,Drama,Crime',
 'Drama,Adventure,History',
 'Comedy,Crime,Mystery',
 'Action,Drama,Fantasy,Sci-fi',
 'Action,Drama,Crime',
 'Action,Drama,Fantasy',
 'Action,Drama,Crime',
 'Animation,Action,Drama',
 'Drama,Crime,Mystery',
 'Animation,Comedy,Romance',
 'Animation,Drama,Fantasy,Horror,Adventure',
 'Comedy,Drama',
 'Action,Drama,Adventure',
 'Drama,Sci-fi,Thriller',
 'Animation,Action,Adventure',
 'Drama,Crime',
 'Action,Drama,Adventure',
 'Drama,Fantasy,Sci-fi,Thriller',
 'Comedy',
 'Drama,Music',
 'Comedy,Romance,Drama',
 'Romance,Drama,Sci-fi',
 'Animation,Action,Adventure',
 'Comedy',
 'Animation,Action,Adventure',
 'Comedy,Drama,Crime',
 'Drama,Mystery,Sci-fi',
 'Drama,Crime,Mystery',
 'Drama,Biography,Crime',
 'Action,Drama,Sci-fi',
 'Drama',
 'Action,Drama,Adventure',
 'Drama',
 'Drama,Crime,History',
 'Drama,Crime,Mystery,Thriller',
 'Comedy,Action',
 'Action,Fantasy,Sci-fi',
 'Action,Crime,Adventure',
 'Drama,Biography,Crime',
 'Documentary,Biography,Crime',
 'Drama,Thriller',
 'Drama,Mystery,Sci-fi',
 'Action,Drama,Sci-fi',
 'Drama,Western',
 'Comedy,Drama',
 'Comedy,Romance',
 'Drama,Crime,Mystery',
 'Mystery',
 'Drama,Crime,Mystery',
 'Drama,Crime,Mystery',
 'Documentary,Sport',
 'Comedy,Sport,Drama',
 'Drama,Crime',
 'Drama,War',
 'Crime,Mystery,Thriller',
 'Drama',
 'Comedy',
 'Drama,Crime,Mystery',
 'Drama',
 'Drama,Mystery,Thriller',
 'Action,Drama,Crime',
 'Documentary,War,History',
 'Comedy,Drama,Sci-fi',
 'Drama,Crime',
 'Comedy,Drama',
 'Drama',
 'Romance,Drama,Mystery',
 'Action,Drama,Adventure',
 'Drama',
 'Romance,Drama,Horror',
 'Comedy',
 'Drama,Biography,Crime',
 'Drama,Horror,Crime',
 'Comedy,Action,Crime',
 'Comedy,Action,Crime',
 'Drama,Crime',
 'Drama,Fantasy,Adventure',
 'Drama,Crime,Mystery',
 'Animation,Comedy,Drama',
 'Animation,Drama,Fantasy',
 'Action,Drama',
 'Action,Drama,History',
 'Drama,Crime,Thriller',
 'Animation,Action,Adventure',
 'Drama,Adventure,Mystery',
 'Drama,Sci-fi',
 'Drama,Sci-fi',
 'Drama,Crime,Mystery',
 'Action,Drama,Mystery',
 'Drama,Biography,History',
 'Comedy,Drama,Crime',
 'Drama,Mystery,Thriller',
 'Comedy,Drama',
 'Romance,Drama',
 'Comedy,Drama,Crime',
 'Documentary,Drama,Crime',
 'Drama,Fantasy,Mystery',
 'Comedy,Drama,Crime',
 'Action,Drama,Thriller',
 'Comedy,Drama,Crime',
 'Drama,Mystery,Thriller',
 'Drama',
 'Comedy',
 'Comedy,Action,Adventure',
 'Action,Drama,Crime',
 'Action,Adventure,Sci-fi',
 'Drama,Crime',
 'Drama,History',
 'Action,Drama,Horror',
 'Comedy,Drama,Fantasy',
 'Drama,Crime,Mystery',
 'Comedy,Romance',
 'Drama,Crime,Mystery',
 'Documentary,Drama,War,History',
 'Action,Drama,Adventure',
 'Drama,Fantasy,Sci-fi',
 'Drama,Biography,Crime',
 'Drama,Sci-fi,Thriller',
 'Comedy',
 'Action,Drama,Adventure',
 'Comedy',
 'Drama',
 'Crime,Mystery,Thriller',
 'Drama,Fantasy,Adventure',
 'Comedy,Drama,Crime',
 'Comedy',
 'Drama,Adventure,Mystery',
 'Drama,Fantasy,Adventure',
 'Comedy,Drama,Fantasy',
 'Drama',
 'Comedy,Drama',
 'Drama,Crime,Mystery',
 'Comedy',
 'Action,Drama,Fantasy',
 'Drama,Crime,Thriller',
 'Documentary,Crime',
 'Animation,Comedy,Sci-fi',
 'Drama,Mystery,Sci-fi',
 'Action,Drama,Adventure',
 'Comedy',
 'Drama,Mystery,Sci-fi',
 'Drama,Biography,History',
 'Horror,Thriller',
 'Comedy',
 'Animation,Drama,Fantasy',
 'Romance,Drama,History',
 'Drama',
 'Drama,Crime,Mystery',
 'Comedy,Drama',
 'Drama',
 'Romance,Drama,History',
 'Comedy,Biography,Crime',
 'Comedy,Drama',
 'Drama,Crime,Thriller',
 'Drama,Fantasy,Mystery',
 'Comedy,Drama,Musical',
 'Drama,Western',
 'Short,Animation,Comedy,Action,Adventure',
 'Animation,Action,Adventure',
 'Comedy,Music,Musical',
 'Comedy,Drama,Family',
 'Drama,Sci-fi',
 'Drama',
 'Comedy',
 'Animation,Action,Adventure',
 'Drama',
 'Romance,Drama,Horror',
 'Comedy',
 'Action,Drama,Crime',
 'Drama,Fantasy,Mystery',
 'Drama,Fantasy,Mystery',
 'Animation,Action,Adventure',
 'Action,Drama,Adventure',
 'Drama,Crime,Mystery',
 'Action,Sci-fi,Thriller',
 'Action,Drama,Crime',
 'Fantasy,Horror,Family',
 'Documentary',
 'Action,Drama,Adventure',
 'Documentary,Crime',
 'Comedy,Drama,Crime',
 'Romance,Drama,History',
 'Animation,Comedy,Adventure',
 'Drama,Crime,Mystery',
 'Drama,Music,Musical',
 'Action,Fantasy,Mystery',
 'Drama,Crime',
 'Action,Drama,Crime',
 'Comedy',
 'Action,Drama,Crime',
 'Drama,Biography,History',
 'Comedy,Fantasy,Horror,Mystery',
 'Drama,Crime,Mystery',
 'Animation,Drama,Fantasy',
 'Drama,Sci-fi',
 'Comedy,Romance',
 'Comedy,Drama,Crime',
 'Drama,Crime,Mystery',
 'Drama,Horror',
 'Documentary,Talk-show',
 'Comedy,Drama',
 'Romance,Drama',
 'Drama,Crime,Thriller',
 'Drama,Crime,Thriller',
 'Action,Drama',
 'Documentary,Crime',
 'Comedy',
 'Documentary,Comedy',
 'Documentary',
 'Comedy,Action,Adventure',
 'Action,Drama,Crime',
 'Comedy',
 'Comedy,Sci-fi',
 'Documentary,Crime',
 'Comedy,Action,Adventure',
 'Drama,History',
 'Action,Crime,Adventure',
 'Documentary',
 'Drama,Crime,Mystery',
 'Comedy,Action,Drama',
 'Action,Drama,Adventure',
 'Animation,Action,Adventure',
 'Action,Drama,Fantasy',
 'Drama,Horror,Crime',
 'Documentary,Biography,History',
 'Comedy',
 'Drama,Mystery,Sci-fi',
 'Comedy,Romance,Drama',
 'Comedy,Action,Drama',
 'Action,Drama,Crime',
 'Drama,Sci-fi,Thriller',
 'Documentary,Comedy,History',
 'Documentary',
 'Drama,Fantasy,Adventure',
 'Animation,Action,Adventure',
 'Comedy,Drama',
 'Animation,Drama,Family,Adventure',
 'Comedy,Romance,Drama',
 'Comedy,Drama',
 'Drama,Crime,Thriller',
 'Drama,Biography,History',
 'Romance,Drama,History',
 'Action,Drama,Adventure',
 'Drama,Crime,Mystery',
 'Action,Drama,Adventure',
 'Comedy,Fantasy,Adventure',
 'Documentary',
 'Drama,Crime,History',
 'Drama,Thriller',
 'Drama,War,History',
 'Drama,Crime,Thriller',
 'Comedy,Drama,Mystery',
 'Comedy',
 'Drama,Crime',
 'Drama,Crime,Thriller',
 'Action,Drama,Thriller',
 'Comedy,Drama,Crime',
 'Drama,Crime,Mystery',
 'Drama,Sci-fi,Thriller',
 'Drama,Biography',
 'Drama,Biography,History',
 'Comedy,Family',
 'Comedy,Romance,Drama',
 'Animation,Action,Adventure',
 'Drama,Crime,Thriller',
 'Drama,Horror,Sci-fi',
 'Drama,Crime',
 'Comedy,Action,Drama',
 'Animation,Action,Adventure',
 'Drama,Thriller',
 'Drama,Fantasy,Horror',
 'Action,Drama,Sci-fi',
 'Romance,Drama',
 'Romance,Drama',
 'Drama,Crime,Mystery',
 'Fantasy,History,Sci-fi',
 'Animation,Comedy',
 'Comedy,Action,Adventure',
 'Animation,Action,Drama',
 'Drama,Sci-fi',
 'Comedy,Drama,Crime',
 'Documentary',
 'Sport,Drama',
 'Drama,Adventure,Mystery',
 'Drama,Crime,Mystery',
 'Documentary,Crime',
 'Drama,Crime,Mystery',
 'Documentary',
 'Comedy',
 'Drama,History',
 'Drama,Crime,Mystery',
 'Action,Crime,Mystery',
 'Drama,Horror',
 'Musical,Reality-tv',
 'Comedy',
 'Action,Drama,Crime',
 'Animation,Comedy,Drama',
 'Comedy,Drama,Crime',
 'Drama,Sci-fi,Thriller',
 'Drama,Mystery,Sci-fi',
 'Drama',
 'Documentary,Sport,Crime',
 'Animation,Comedy,Adventure',
 'Drama,Thriller',
 'Drama,Crime',
 'Documentary,Sport',
 'Comedy,Drama,Family',
 'Drama,Mystery,Sci-fi',
 'Drama,Thriller',
 'Romance,Drama',
 'Drama,History',
 'Drama',
 'Drama,Crime,Mystery',
 'Comedy',
 'Comedy,Romance,Drama',
 'Comedy,Drama',
 'Comedy,Romance,Drama',
 'Action,Drama,Crime',
 'Drama,Adventure,Sci-fi',
 'Romance,Drama,History',
 'Drama,Crime,Mystery',
 'Drama,Thriller',
 'Animation,Action,Adventure',
 'Documentary,Biography,Crime',
 'Action,Drama,Crime',
 'Romance,Drama',
 'Comedy,Romance,Drama',
 'Comedy,Sport,Drama',
 'Mystery,Sci-fi,Thriller',
 'Action,Drama,Adventure',
 'Action,Drama,Horror',
 'Comedy,Action,Adventure',
 'Comedy,Drama',
 'Comedy,Romance,Drama',
 'Comedy,Drama,Adventure',
 'Romance,Drama',
 'Drama,Biography,History',
 'Drama,Sci-fi,Thriller',
 'Drama,Biography,Music',
 'Comedy',
 'Action,Drama,Crime',
 'Drama,History',
 'Comedy,Drama,Biography',
 'Action,Drama,Sci-fi',
 'Animation,Action,Drama,Adventure',
 'Documentary',
 'Drama,Crime',
 'Drama,Biography,History',
 'Action,Drama,Crime',
 'Drama,Crime,Mystery',
 'Drama,Horror,Sci-fi',
 'Drama',
 'Animation,Comedy,Action,Horror',
 'Animation,Action,Adventure',
 'Romance,Drama,Sci-fi',
 'Romance,Drama,History',
 'Drama,Crime,Mystery',
 'Drama,Fantasy,Horror',
 'Mystery',
 'Documentary,Comedy,Crime',
 'Horror',
 'Drama,Biography',
 'Action,Drama,War',
 'Drama,Adventure,Sci-fi',
 'Drama,Crime,Mystery',
 'Drama,Crime,Thriller',
 'Drama,Horror,Mystery',
 'Comedy,Action,Adventure',
 'Drama,Crime,Mystery',
 'Drama,Crime',
 'Drama,Fantasy,Horror',
 'Comedy,Romance',
 'Drama,Crime,Mystery',
 'Drama,Crime,Mystery',
 'Documentary',
 'Drama,Fantasy,Crime',
 'Action,Drama,Sci-fi',
 'Drama,Crime,Mystery',
 'Romance,Drama,History',
 'Drama,Fantasy,Horror',
 'Comedy',
 'Action',
 'Action,Drama,Crime',
 'Drama,Fantasy,Mystery',
 'Action,Drama,Sci-fi',
 'Comedy,Drama,Music',
 'Animation,Action,Adventure',
 'Romance,Drama,Family',
 'Drama,Fantasy,Mystery',
 'Romance,Drama,History',
 'Animation,Comedy',
 'Comedy,Drama,Fantasy',
 'Comedy,Drama,Horror',
 'Animation,Comedy,Family',
 'Horror,Sci-fi',
 'Drama,Adventure',
 'Drama',
 'Drama,Fantasy,Horror',
 'Animation,Action,Adventure',
 'Action,Drama,Mystery',
 'Drama,Crime,Mystery',
 'Comedy,Drama',
 'Drama,Crime',
 'Drama,Crime,Mystery',
 'Comedy',
 'Action,Drama',
 'Animation,Action,Adventure',
 'Drama,Fantasy,Horror,Crime',
 'Drama,Horror,Mystery',
 'Drama,Fantasy',
 'Drama,Sci-fi',
 'Drama,Mystery,Sci-fi',
 'Drama,Horror',
 'Action,Drama,Sci-fi',
 'Comedy',
 'Action,Drama,Adventure',
 'Drama,Fantasy,Horror',
 'Drama,Fantasy,Crime',
 'Comedy,Fantasy,Musical',
 'Drama,Fantasy,Horror',
 'Action,Drama,Thriller',
 'Comedy,Crime',
 'Drama,Fantasy,Mystery',
 'Drama,Fantasy,Mystery',
 'Drama,Mystery,Sci-fi',
 'Drama,Mystery,Thriller',
 'Animation,Action,Adventure',
 'Drama,Crime,Mystery',
 'Drama,Crime,Mystery',
 'Comedy',
 'Drama,Crime,Mystery',
 'Documentary,War,History',
 'Comedy,Sport',
 'Comedy',
 'Action,Drama',
 'Action,Horror,Crime',
 'Animation,Action,Horror',
 'Comedy,Drama',
 'Comedy',
 'Drama,Crime,Thriller',
 'Comedy',
 'Drama,Horror,Mystery',
 'Drama,Horror,Crime',
 'Drama',
 'Drama,Horror,Mystery',
 'Comedy,Drama',
 'Animation,Action,Fantasy',
 'Drama,Fantasy',
 'Drama,Crime,Mystery',
 'Action,Drama,Sci-fi',
 'Action,Drama,Thriller',
 'Comedy,Action',
 'Comedy,Drama,Horror',
 'Drama,Sci-fi,Thriller',
 'Sport,Drama,History',
 'Action,Drama,Crime',
 'Drama,Mystery,Sci-fi',
 'Animation,Comedy,Adventure',
 'Comedy',
 'Documentary',
 'Drama,Crime,Mystery',
 'Action,Drama,History',
 'Comedy,Drama,Crime',
 'Reality-tv',
 'Drama,Crime,Mystery',
 'Drama,Adventure,History',
 'Drama,Crime,Mystery',
 'Romance,Sport,Drama',
 'Drama,Biography,History',
 'Documentary',
 'Action,Drama,Mystery',
 'Drama,Biography,History',
 'Drama',
 'Action,Drama,Adventure',
 'Comedy,Drama,Thriller',
 'Comedy,Romance,Drama',
 'Comedy,Action,Adventure',
 'Drama,Horror,Mystery',
 'Comedy,Drama,Crime',
 'Drama,Crime,Mystery',
 'Drama,Crime,Mystery',
 'Drama,Crime,Mystery,Thriller',
 'Action,Drama,Thriller',
 'Drama,Fantasy,Sci-fi',
 'Comedy,Romance,Thriller',
 'Drama,Crime,Mystery',
 'Drama,Sci-fi,Thriller',
 'Action,Drama,War',
 'Comedy',
 'Comedy,Drama,Biography',
 'Action,Adventure,Sci-fi',
 'Drama,Crime,Mystery',
 'Comedy,Musical',
 'Drama,Biography,Crime',
 'Drama,Crime,Game-show',
 'Drama,Sci-fi',
 'Drama,Mystery,Sci-fi',
 'Drama,Crime,Thriller',
 'Comedy,Romance,Drama',
 'Comedy',
 'Comedy,Romance,Drama',
 'Comedy,Drama,Thriller',
 'Action,War,Thriller',
 'Drama,Thriller',
 'Comedy,Romance',
 'Drama,Crime,Thriller',
 'Talk-show',
 'Drama,Mystery,Thriller',
 'Drama,Crime,Mystery',
 'Comedy,Drama,Crime',
 'Action,Adventure,Sci-fi',
 'Comedy,Drama,Crime',
 'Animation,Action,Drama',
 'Drama',
 'Drama,Fantasy,History',
 'Documentary',
 'Romance,Drama,Sci-fi',
 'Animation,Action,Adventure',
 'Drama,Crime',
 'Animation,Action,Drama',
 'Drama,Crime,Mystery',
 'Animation,Action,Adventure',
 'Comedy',
 'Animation,Action,Adventure',
 'Documentary,Crime',
 'Animation,Action,Adventure',
 'Romance,Drama,Fantasy',
 'Documentary,Biography,History',
 'Drama',
 'Comedy,Drama,Music',
 'Drama,Crime,Mystery',
 'Action,Drama,Adventure',
 'Drama,Crime',
 'Comedy,News,Talk-show',
 'Documentary,War,History',
 'Comedy',
 'Drama,Fantasy,Horror',
 'Drama,Crime,Mystery',
 'Comedy,Drama',
 'Drama,Fantasy,Horror',
 'Animation,Comedy,Adventure',
 'Drama,Crime',
 'Documentary',
 'Romance,Drama',
 'Documentary,Comedy,Adventure',
 'Action,Drama,Adventure',
 'Drama,Biography,Crime',
 'Documentary,Crime,History',
 'Drama,Fantasy',
 'Drama,Biography,Mystery',
 'Drama,Crime,Mystery',
 'Drama,Crime',
 'Comedy',
 'Comedy',
 'Comedy,Romance,Drama',
 'Sport,Drama',
 'Drama,Crime,Mystery',
 'Comedy,Music',
 'Sport',
 'Action,Crime,Adventure',
 'Drama,Sci-fi',
 'Animation,Action,Adventure',
 'Drama,Horror',
 'Drama',
 'Comedy,Drama,Western',
 'Drama',
 'Documentary,History',
 'Drama,Crime,Mystery',
 'Documentary',
 'Documentary',
 'Drama,Thriller',
 'Drama',
 'Crime,Mystery',
 'Comedy,Romance,Drama',
 'Comedy,Drama,Fantasy',

In [45]:
#split the strings and put the resulting list as the value in 
df_unpacked = []
for string in list_of_genres2:
    string_list = string.split(',') #splits by commas and returns a list of the split string
    df_unpacked.append(string_list)

In [46]:
df_unpacked[:10] #yay no whitespace!

[['Drama', 'History', 'Thriller'],
 ['Action', 'Drama', 'Adventure'],
 ['Drama', 'Sci-fi', 'Thriller'],
 ['Drama', 'Crime', 'Mystery'],
 ['Drama', 'Crime', 'Thriller'],
 ['Action', 'Adventure', 'Sci-fi'],
 ['Drama', 'Fantasy', 'Horror'],
 ['Action', 'Drama', 'Fantasy', 'Adventure'],
 ['Drama', 'Mystery', 'Sci-fi'],
 ['Drama', 'Crime', 'Mystery']]

In [47]:
tv_show_df['Genres'] = df_unpacked

In [48]:
tv_show_df.head(3)

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,5.00,9.6,1
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.12,9.1,8
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,4.40,8.1,9

In [49]:
tv_show_df['Genres'][1]

['Action', 'Drama', 'Adventure']

In [64]:
#pickle our data
tv_show_df.to_pickle('clean_tv_show_df.pkl')

## How many unique genres do we have?
### Below is in the original dataframe before I fixed the outliers

In [50]:
#find how many unique genres
from collections import defaultdict

genre_count = defaultdict(int)

for genre in tv_show_df['Genres']:
    for i in range(len(genre)):
        genre_count[genre[i]] += 1
    
genre_count

defaultdict(int,
            {'Drama': 722,
             'History': 57,
             'Thriller': 89,
             'Action': 232,
             'Adventure': 153,
             'Sci-fi': 95,
             'Crime': 285,
             'Mystery': 181,
             'Fantasy': 103,
             'Horror': 69,
             'Animation': 81,
             'Comedy': 271,
             'Biography': 36,
             'Family': 14,
             'Documentary': 55,
             'Romance': 68,
             'Music': 10,
             'Talk-show': 6,
             'Western': 4,
             'Sport': 14,
             'Musical': 7,
             'War': 9,
             'Short': 1,
             'Reality-tv': 4,
             'Game-show': 1,
             'News': 1})

In [51]:
len(genre_count)

26

### We have some genres that show up way less frequently, maybe we can put them in an 'Other' genre

In [52]:
filtered_gens = {'Other':0}
for genre in genre_count:
    if genre_count[genre] > 7:
        filtered_gens[genre] = genre_count[genre]
    else:
        filtered_gens['Other'] += genre_count[genre]
        print(genre, genre_count[genre])

Talk-show 6
Western 4
Musical 7
Short 1
Reality-tv 4
Game-show 1
News 1

In [53]:
filtered_gens

{'Other': 24,
 'Drama': 722,
 'History': 57,
 'Thriller': 89,
 'Action': 232,
 'Adventure': 153,
 'Sci-fi': 95,
 'Crime': 285,
 'Mystery': 181,
 'Fantasy': 103,
 'Horror': 69,
 'Animation': 81,
 'Comedy': 271,
 'Biography': 36,
 'Family': 14,
 'Documentary': 55,
 'Romance': 68,
 'Music': 10,
 'Sport': 14,
 'War': 9}

In [54]:
len(filtered_gens)

20

In [55]:
#replace the "others" in the df
others_genre_list = []
for genre_list in tv_show_df['Genres']:
    temp = []
    for genre in genre_list:
        if genre in filtered_gens:
            temp.append(genre)

        else:
            temp.append('Other')
    others_genre_list.append(temp)
    
len(others_genre_list)

1000

In [56]:
others_genre_list[:10]

[['Drama', 'History', 'Thriller'],
 ['Action', 'Drama', 'Adventure'],
 ['Drama', 'Sci-fi', 'Thriller'],
 ['Drama', 'Crime', 'Mystery'],
 ['Drama', 'Crime', 'Thriller'],
 ['Action', 'Adventure', 'Sci-fi'],
 ['Drama', 'Fantasy', 'Horror'],
 ['Action', 'Drama', 'Fantasy', 'Adventure'],
 ['Drama', 'Mystery', 'Sci-fi'],
 ['Drama', 'Crime', 'Mystery']]

# *

## Want to create dummy variables for all of our genres

In [57]:
#make a deep copy to not mess with the og df
dummy_genre_df = tv_show_df.copy(deep = True)

In [58]:
#now add our new list as the genres column
dummy_genre_df['Genres'] = others_genre_list

In [59]:
dummy_genre_df.head(3)

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,5.00,9.6,1
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.12,9.1,8
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,4.40,8.1,9

In [60]:
#need to put the strings back together in order to get dummies
dummies = dummy_genre_df['Genres'].str.join('|').str.get_dummies()
dummies

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Other,Romance,Sci-fi,Sport,Thriller,War
0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0
1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0
3,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
996,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
997,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
999,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0

In [61]:
dummy_genre_df = pd.concat([dummy_genre_df, dummies], axis=1)

In [62]:
dummy_genre_df.head()

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran,Action,...,History,Horror,Music,Mystery,Other,Romance,Sci-fi,Sport,Thriller,War
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,5.00,9.6,1,0,...,1,0,0,0,0,0,0,0,1,0
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.12,9.1,8,1,...,0,0,0,0,0,0,0,0,0,0
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,4.40,8.1,9,0,...,0,0,0,0,0,0,1,0,1,0
3,Sherlock,2010,2017,"[Drama, Crime, Mystery]",4,12,3.00,8.8,7,0,...,0,0,0,1,0,0,0,0,0,0
4,Breaking Bad,2008,2013,"[Drama, Crime, Thriller]",5,62,12.40,8.8,5,0,...,0,0,0,0,0,0,0,0,1,0

In [65]:
#pickle our data
dummy_genre_df.to_pickle('clean_with_dummy_genres.pkl')

## Do the same thing above as * but for the df with the fixed outliers

In [152]:
#make a deep copy to not mess with the og df
dummy_genre_df_no_outliers = tv_show_df.copy(deep = True)

In [153]:
#we probably don't need to add the new_genre list
dummy_genre_df_no_outliers.head()

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,5.00,9.6,1
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.12,9.1,8
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,4.40,8.1,9
3,Sherlock,2010,2017,"[Drama, Crime, Mystery]",4,12,3.00,8.8,7
4,Breaking Bad,2008,2013,"[Drama, Crime, Thriller]",5,62,12.40,8.8,5

In [154]:
dummy_genre_df_no_outliers['Genres'][0] #perfect!

['Drama', 'History', 'Thriller']

In [155]:
#concat my dummy variables now
dummy_genre_df_no_outliers = pd.concat([dummy_genre_df_no_outliers, dummies], axis=1)

In [156]:
dummy_genre_df_no_outliers.head()

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran,Action,...,History,Horror,Music,Mystery,Other,Romance,Sci-fi,Sport,Thriller,War
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,5.00,9.6,1,0,...,1,0,0,0,0,0,0,0,1,0
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.12,9.1,8,1,...,0,0,0,0,0,0,0,0,0,0
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,4.40,8.1,9,0,...,0,0,0,0,0,0,1,0,1,0
3,Sherlock,2010,2017,"[Drama, Crime, Mystery]",4,12,3.00,8.8,7,0,...,0,0,0,1,0,0,0,0,0,0
4,Breaking Bad,2008,2013,"[Drama, Crime, Thriller]",5,62,12.40,8.8,5,0,...,0,0,0,0,0,0,0,0,1,0

In [157]:
dummy_genre_df_no_outliers.shape

(1000, 29)

In [158]:
#pickle our data
dummy_genre_df_no_outliers.to_pickle('cleaned_outliers_with_dummy_genres.pkl')

## Ran an analysis using this ^ in the second eda notebook

## Merge with MPAA rating df on title

In [66]:
#first load in the file
MPAA_df = pd.read_pickle('MPAA_df_with_nones.pkl')

In [67]:
MPAA_df.head()

,Title,MPAA_Rating,Runtime,Genres,Series_Type
0,Chernobyl,TV-MA,5h 30min,"Drama, History, Thriller",TV Mini-Series (2019)
1,Game of Thrones,TV-MA,57min,"Action, Adventure, Drama",TV Series (20112019)
2,Black Mirror,TV-MA,1h,"Drama, Sci-Fi, Thriller",TV Series (2011 )
3,Sherlock,TV-14,1h 28min,"Crime, Drama, Mystery",TV Series (20102017)
4,Breaking Bad,TV-MA,49min,"Crime, Drama, Thriller",TV Series (20082013)

In [68]:
MPAA_df.shape

(977, 5)

### Some shows have the same title as other shows but are not actually the same show, I will drop these since they didn't get scraped properly

**Shows that did not get picked up by the imdb scrape**

- The Office (2001 - 2003)
- The Returned (2012 - 0) //(0 means ongoing)
- Wallander (2005 - 2013)
- Kingdom (2019 - 0)
- Battlestar Galactica (2003 - 2003)


### Need to remove both rows of the shows that have the same title otherwise the merge will still match up the title and give duplicate entries

In [71]:
MPAA_df[(MPAA_df.Title == 'The Office')]

          Title MPAA_Rating Runtime  Genres            Series_Type
62   The Office       TV-14   22min  Comedy  TV Series (20052013)
177  The Office       TV-14   22min  Comedy  TV Series (20052013)

In [72]:
def drop_row_by_index(df, title):
    #if there are multiple idx's that this happens at, then idx returns a list
    idx = df[(df.Title == title)].index
    
    for j in idx:
        print(j)
        df.drop(j, inplace = True)

In [73]:
drop_row_by_index(MPAA_df, 'The Office')

62
177

In [74]:
MPAA_df.shape

(975, 5)

In [75]:
drop_row_by_index(MPAA_df, 'Kingdom')
drop_row_by_index(MPAA_df, 'Battlestar Galactica')
drop_row_by_index(MPAA_df, 'The Returned')
drop_row_by_index(MPAA_df, 'Wallander')

204
975
165
238
691
822
387
580

In [76]:
MPAA_df.shape

(967, 5)

In [77]:
MPAA_df.to_pickle('MPAA_no_duplicates.pkl')

## Woohoo! it worked !! ^

### Okay, so now I've dropped those weird values, I'm gonna do a new inner merge

In [78]:
inner_merge_dummy_genre_MPAA = pd.merge(left = dummy_genre_df, right = MPAA_df, how = 'inner', left_on= 'Title', right_on = 'Title')
inner_merge_dummy_genre_MPAA.head()

,Title,Start_Year,End_Year,Genres_x,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran,Action,...,Other,Romance,Sci-fi,Sport,Thriller,War,MPAA_Rating,Runtime,Genres_y,Series_Type
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,5.00,9.6,1,0,...,0,0,0,0,1,0,TV-MA,5h 30min,"Drama, History, Thriller",TV Mini-Series (2019)
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.12,9.1,8,1,...,0,0,0,0,0,0,TV-MA,57min,"Action, Adventure, Drama",TV Series (20112019)
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,4.40,8.1,9,0,...,0,0,1,0,1,0,TV-MA,1h,"Drama, Sci-Fi, Thriller",TV Series (2011 )
3,Sherlock,2010,2017,"[Drama, Crime, Mystery]",4,12,3.00,8.8,7,0,...,0,0,0,0,0,0,TV-14,1h 28min,"Crime, Drama, Mystery",TV Series (20102017)
4,Breaking Bad,2008,2013,"[Drama, Crime, Thriller]",5,62,12.40,8.8,5,0,...,0,0,0,0,1,0,TV-MA,49min,"Crime, Drama, Thriller",TV Series (20082013)

In [79]:
#clean up the df a bit
inner_merge_dummy_genre_MPAA = inner_merge_dummy_genre_MPAA.drop(columns = 'Genres_y')
inner_merge_dummy_genre_MPAA = inner_merge_dummy_genre_MPAA.rename(columns = {'Genres_x': 'Genres'})

### Make sure there are no duplicates

In [80]:
#Woohoo! No duplicates!!
inner_merge_dummy_genre_MPAA.groupby(['Title','Start_Year','End_Year', 'MPAA_Rating', 'Runtime', 'Series_Type']).size().reset_index(name = 'Count').sort_values('Count', ascending = False).head(15)

,Title,Start_Year,End_Year,MPAA_Rating,Runtime,Series_Type,Count
0,13 Reasons Why,2017,2020,TV-MA,1h,TV Series (20172020),1
555,Six Feet Under,2001,2005,TV-MA,55min,TV Series (20012005),1
545,Shameless,2011,0,TV-MA,46min,TV Series (2011 ),1
546,Sharp Objects,2018,2018,TV-MA,7h 1min,TV Mini-Series (2018),1
547,She-Ra and the Princesses of Power,2018,2020,TV-Y7-FV,30min,TV Series (20182020),1
548,Sherlock,2010,2017,TV-14,1h 28min,TV Series (20102017),1
549,Shetland,2013,0,TV-14,1h,TV Series (2013 ),1
550,Shooter,2016,2018,TV-14,1h,TV Series (20162018),1
551,Show Me a Hero,2015,2015,TV-MA,1h,TV Mini-Series (2015),1
552,Silicon Valley,2014,2019,TV-MA,28min,TV Series (20142019),1
553,Siren,2018,2020,TV-PG,1h,TV Series (20182020),1
554,Six,2017,2018,TV-MA,1h,TV Series (20172018),1
556,Skins,2007,2013,TV-MA,46min,TV Series (20072013),1
543,Shadowhunters,2016,2019,TV-14,42min,TV Series (20162019),1
557,Smallville,2001,2011,TV-PG,1h,TV Series (20012011),1

In [81]:
inner_merge_dummy_genre_MPAA.shape

(975, 32)

In [82]:
#pickle our data
inner_merge_dummy_genre_MPAA.to_pickle('merged_df_with_MPAA.pkl')

### Now want to add a column with ordinal values for the MPAA rating column and drop the None values

In [83]:
#check all the possible MPAA ratings a show in our df can have
inner_merge_dummy_genre_MPAA['MPAA_Rating'].unique()

array(['TV-MA', 'TV-14', 'TV-PG', None, 'TV-G', 'TV-Y7-FV', 'TV-Y7',
       'TV-Y'], dtype=object)

In [96]:
#create a dictionary to use as an ordinal mapping
ordinal_map = {'TV-Y':0, 'TV-Y7': 1, 'TV-Y7-FV':2, 
               'TV-G':3, 'TV-PG':4, 'TV-14':5, 'TV-MA':6}

In [99]:
#make a duplicate row
inner_merge_dummy_genre_MPAA['Ordinal_MPAA'] = inner_merge_dummy_genre_MPAA['MPAA_Rating']

In [100]:
#fill in the values using the ordinal mapping dict
for idx, rate in enumerate(inner_merge_dummy_genre_MPAA['Ordinal_MPAA']):
    try:
        inner_merge_dummy_genre_MPAA.loc[idx,'Ordinal_MPAA'] = ordinal_map[rate]
        
    #some rows say none, so we'll drop those rows
    except:
        inner_merge_dummy_genre_MPAA.drop(idx, inplace = True)

In [101]:
#lost some rows but we still have enough
inner_merge_dummy_genre_MPAA.shape

(849, 33)

In [102]:
inner_merge_dummy_genre_MPAA.head(3)

,Title,Start_Year,End_Year,Genres,Num_of_Seasons,Num_of_Episodes,Num_Episodes_Per_Season,Season_1_Rating,Years_Ran,Action,...,Other,Romance,Sci-fi,Sport,Thriller,War,MPAA_Rating,Runtime,Series_Type,Ordinal_MPAA
0,Chernobyl,2019,2019,"[Drama, History, Thriller]",1,5,5.00,9.6,1,0,...,0,0,0,0,1,0,TV-MA,5h 30min,TV Mini-Series (2019),6
1,Game of Thrones,2011,2019,"[Action, Drama, Adventure]",8,73,9.12,9.1,8,1,...,0,0,0,0,0,0,TV-MA,57min,TV Series (20112019),6
2,Black Mirror,2011,0,"[Drama, Sci-fi, Thriller]",5,22,4.40,8.1,9,0,...,0,0,1,0,1,0,TV-MA,1h,TV Series (2011 ),6

In [106]:
inner_merge_dummy_genre_MPAA['Ordinal_MPAA'].unique()

array([6, 5, 4, 3, 2, 1, 0], dtype=object)

In [107]:
#change type from object to int
inner_merge_dummy_genre_MPAA['Ordinal_MPAA'] = inner_merge_dummy_genre_MPAA['Ordinal_MPAA'].astype(int)
type(inner_merge_dummy_genre_MPAA['Ordinal_MPAA'][1])

numpy.int64

In [108]:
#pickle the data
inner_merge_dummy_genre_MPAA.to_pickle('Ordinal_MPAA_merged_with_dummy_genres.pkl')